# Personnal files
/src/shared/locals.h
/src/shared/bFileLocals.h
/assets-cg/base
.DS_Store
*-base.*
*.xcf
*.depend

# Outputs
/build-cg
/build-cg-push
/*.g3a*
*.o
/build
linuxMines/bin/Debug


# Common IDE files
/linux
.vscode
