# Personnal files
/src/shared/locals.h
/src/shared/bFileLocals.h
/assets-cg/base
.DS_Store
*-base.*
*.xcf
*.depand

# Outputs
/build-cg
/build-cg-push
/*.g3a*
*.o
/build
/bin
/obj

# Common IDE files
/linux
.vscode
