# Personnal files
/src/shared/locals.h
/src/shared/bFileLocals.h
/assets-cg/base
.DS_Store
*-base.*
*.xcf
*.depend
*.ico
config.jhb

# Outputs
/build-cg
/build-cg-push
*.o
/build
linuxMines/bin/Debug


# Common IDE files
/linux
.vscode
.zed
